h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

span {
  padding: 1em;
  background: black;
}

form {
  padding: 1em;
}

.mal {
  background: #F9627D;
}

.bien {
  background: #83B692;
}